stages:
  - build
  - test
  - package

build_release:
  stage: package
  tags:
    - dev
  except:
    - master
  only:
    - tags
  before_script:
    - mkdir -p /root/.m2 && echo """<settings><proxies><proxy><id>http-proxy</id><active>true</active><protocol>http</protocol><host>$proxy_url</host><port>$proxy_port</port></proxy><proxy><id>https-proxy</id><active>true</active><protocol>https</protocol><host>$proxy_url</host><port>$proxy_port</port></proxy></proxies></settings>""" >> /root/.m2/settings.xml
  script:
    - export http_proxy=$proxy && export https_proxy=$ssl_proxy
    - cd $CI_PROJECT_DIR
    - mkdir build_temp
    - bash assembly.sh $proxy_url $proxy_port
    - cp -r $CI_PROJECT_DIR/target/ /mnt/connect/kafka-connect-hdfs
  artifacts:
    name: "$PROJECT_NAME-$CI_COMMIT_TAG"
    # available at REPO_URL/builds/artifacts/<CI_COMMIT_TAG>/download?job=build_release
    paths:
      - "$CI_PROJECT_DIR/$PROJECT_NAME-$CI_COMMIT_TAG"